body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h1,h1,h1,h5,h6{
    margin: 0;
}

/* Conteiner */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*Header*/
.header{
    background-color: #333;
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color:gray ;
    text-decoration: none;

    transition: color .1s linear;
}

.nav_link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

   
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: red;
}
.nav_link:hover:after{
    opacity: 1;
}

/*Intro*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: 
    url(../images/pc.jpg) center no-repeat;
    -webkit-bacground-size:cover;
    background-size: cover;
}

.intro_title{
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title b{
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro_title:after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    margin: 60px auto 60px;
   
}

.intro_suptitle{
    font-family: 'Kanit', sans-serif;
    margin-bottom: 35px;
    font-size: 50px;
    color:whitesmoke;
    margin: 0 auto;
}




.intro_inner{
    margin-top:150px ;
}

/*Button*/
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    text-align: center;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color:red;
    text-transform: uppercase;
    text-decoration: none;
    
    transition:background .1s linear,color .1s linear;
}

.btn:hover{
    background-color: #fff;
    color: #333;
}

/*Slider*/

.slider{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;

}

.slider_item{
    width: 24%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;
}

.slider_num{
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.slider_item.active{
    opacity: 1;
}

.slider_item.active::before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: red;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

/*Statistic*/

.statistic{
    background-color: #333;
}
.stat{
    display: flex;
}

.stat_item{
    flex: 1 1 0;
    text-align: center;
    border-left: 1px solid black;
    color: #fff;

    padding: 70px 25px;
}

.stat_item:last-child{
    border-right:1px solid black ;
}
 
.stat_count{
    font-size: 72px;
    font-weight: 700;
}

.stat_text{
    font-size: 14px;
    text-transform: uppercase;
}



/*Section*/
.section{

    padding: 80px 0;
    background-color: rgb(16, 15, 15);
       
}

.section_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    padding-top: 25px;

    text-align: center;
}

.section_suptitle{
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: whitesmoke;
}

.section_title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
}

.section_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: red;
    margin: 30px auto 30px;
}

.section_text{
    font-size: 15px;
    color: #999;
}

.section_2{
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 80px;
}

.section_3{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*About*/

.about{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}

.about_item{
    width: 330px;
    position: relative;

    border-radius: 20px;

    display: block;
    margin: 0 auto;
}

.about_item:hover .about_img{
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img{
    opacity: .8;
}

.about_item:hover .about_text{
    opacity: 1;
}

.about_img{
    background: red;
    transition: transform .3s linear;
    
}

.about_img img{
    display: block;
    transition: opacity .3s linear;
    border-radius: 20px;
}

.about_text{
    width: 100%;

    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    text-decoration: none;


    font-size: 18px;
    position: absolute;
    top: 35%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .3s linear;
}

.about_text_2{
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}

.about_text_2 b{
    color: red;
}




/*Services*/

.services{
    display: flex;

}
.services_item{
    flex: 1 1 0;
    padding-left: 85px;
    position: relative;
    padding-right: 35px;

}

.services_icon{
    padding-top: 25px;
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;

}

.services_title{

    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    padding-top: 25px;
}

.services_text{
    font-size: 15px;
    color: #999;
}


/*Devices*/

.devices{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.devices_item{
    display: block;
}

/*Footer*/

.footer_dark{
    display: flex;
    color: #fff;
    background-color: #333;
    
}

.inst{
    color: white;
    text-decoration: none;
}

.col-sm-6{
    padding-left: 250px;
    
}

.copyright{
    padding-left:620px;
    padding-bottom: 10px;
}
.copyright b{
    color: red;
    font-family:'Montserrat', sans-serif ;
    font-size: 35px;
}

/*Product*/

.product-wrap {
   width: 300px;
   margin: 0 auto;
   background: white;
   padding: 0 0 20px;
   text-align: center;
   font-size: 14px;
   font-family: Lora;
   text-transform: uppercase;
}
.product-item {
   position: relative;
   overflow: hidden;
}
.product-wrap img {
   display: block;
   width: 100%;
}
.product-buttons {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .8);
   opacity: 0;
   transition: .3s ease-in-out;
}
.button {
   text-decoration: none;
   color: #c0a97a;
   font-size: 12px;
   width: 140px;
   height: 40px;
   line-height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   border: 2px solid #c0a97a;
   transform: translate(-50%, -50%) scale(0);
   transition: .3s ease-in-out;
}
.button:before {
   content: "\f07a";
   font-family: FontAwesome;
   margin-right: 10px;
}
.product-item:hover .product-buttons {
   opacity: 1;
}
.product-item:hover .button {
   transform: translate(-50%, -50%) scale(1);
}
.button:hover {
   background: black;
}
.product-title {
   color: #5e5e5e;
}
.product-title a {
   text-decoration: none;
   color: #2e2e2e;
   font-weight: 600;
   margin: 15px 0 5px;
   padding-bottom: 7px;
   display: block;
   position: relative;
   transition: .3s ease-in-out;
}
.product-title a:after {
   content: "";
   position: absolute;
   width: 40px;
   height: 2px;
   background: #2e2e2e;
   left: 50%;
   margin-left: -20px;
   bottom: 0;
   transition: .3s ease-in-out;
}
.product-title a:hover {
   color: #c0a97a;
}
.product-title:hover a:after {
   background: #c0a97a;
}
.product-price {
   font-size: 20px;
   color: #c0a97a;
   font-weight: 700;
}