<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<form action="#" th:action="@{/main/add/keyboard}" th:object="${keyboard}" method="post">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" th:field="*{title}"></td>
			<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
		</tr>
			<td>Price</td>
			<td><input type="text" th:field="*{price}"></td>
			<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
		<tr>
			<select name="type" th:field="*{type}">
			<option th:each="typeOpt : ${T(com.kurss.demo.model.ProductTypes).values()}" th:value="${typeOpt}" th:text="${typeOpt}"></option>
			</select>
		</tr>
		<tr>
			<td>Amount</td>
			<td><input type="text" th:field="*{amount}"></td>
			<td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</td>
		</tr>
		<tr>
			<td>Link to image</td>
			<td><input type="text" th:field="*{linkImage}"></td>
			<td th:if="${#fields.hasErrors('linkImage')}" th:errors="*{linkImage}">Link Error</td>
		</tr>
		
		<tr>
			<td>RGB</td>
			<td>
			<select class="form-control" th:field="*{RGB}">
			    <option th:value="1" >true</option>
			    <option th:value="0" >false</option>
			</select>
			</td>
		</tr>
		
		<tr>
			<td>bluetooth</td>
			<td>
			<select class="form-control" th:field="*{bluetooth}">
			    <option th:value="1" >true</option>
			    <option th:value="0" >false</option>
			</select>
			</td>
		</tr>
		
		<tr>
			<select name="keyboardType" th:field="*{keyboardType}">
			<option th:each="keyboardTypeOpt : ${T(com.kurss.demo.model.KeyboardTypes).values()}" th:value="${keyboardTypeOpt}" th:text="${keyboardTypeOpt}"></option>
			</select>
		</tr>
		
		<tr>
			<select name="keyboardCompany" th:field="*{keyboardCompany}">
			<option th:each="keyboardCompanyTypeOpt : ${T(com.kurss.demo.model.KeyboardCompanies).values()}" th:value="${keyboardCompanyTypeOpt}" th:text="${keyboardCompanyTypeOpt}"></option>
			</select>
		</tr>
	
		<tr>
			<td><button type="submit"> Save keyboard </button>
		</tr>
	</table>
	</form>
</body>
</html>