<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<form action="#" th:action="@{/main/add/processor}" th:object="${processor}" method="post">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" th:field="*{title}"></td>
			<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
		</tr>
			<td>Price</td>
			<td><input type="text" th:field="*{price}"></td>
			<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
		<tr>
			<select name="type" th:field="*{type}">
			<option th:each="typeOpt : ${T(com.kurss.demo.model.ProductTypes).values()}" th:value="${typeOpt}" th:text="${typeOpt}"></option>
			</select>
		</tr>
		<tr>
			<td>Amount</td>
			<td><input type="text" th:field="*{amount}"></td>
			<td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</td>
		</tr>
		<tr>
			<td>Link to image</td>
			<td><input type="text" th:field="*{linkImage}"></td>
			<td th:if="${#fields.hasErrors('linkImage')}" th:errors="*{linkImage}">Link Error</td>
		</tr>
		<tr>
			<td>Cores</td>
			<td><input type="text" th:field="*{cores}"></td>
			<td th:if="${#fields.hasErrors('cores')}" th:errors="*{cores}">Cores Error</td>
		</tr>
		<tr>
			<td>Threads</td>
			<td><input type="text" th:field="*{threads}"></td>
			<td th:if="${#fields.hasErrors('threads')}" th:errors="*{threads}">Threads Error</td>
		</tr>
		<tr>
			<td>Frequency</td>
			<td><input type="text" th:field="*{frequency}"></td>
			<td th:if="${#fields.hasErrors('frequency')}" th:errors="*{frequency}">Frequency Error</td>
		</tr>
		<tr>
			<td>Frequency Turbo</td>
			<td><input type="text" th:field="*{frequencyTurbo}"></td>
			<td th:if="${#fields.hasErrors('frequencyTurbo')}" th:errors="*{frequencyTurbo}">Frequency Turbo Error</td>
		</tr>
		<tr>
			<td>Integrated graphics</td>
			<td>
			<select class="form-control" th:field="*{integratedGraphics}">
		    <option th:value="1" >true</option>
		    <option th:value="0" >false</option>
			</select>
			</td>
		</tr>
		<tr>
			<td>Architecture</td>
			<td><input type="text" th:field="*{architecture}"></td>
			<td th:if="${#fields.hasErrors('architecture')}" th:errors="*{architecture}">Architecture Error</td>
		</tr>
		<tr>
			<select name="line" th:field="*{line}">
			<option th:each="lineOpt : ${T(com.kurss.demo.model.ProcessorLines).values()}" th:value="${lineOpt}" th:text="${lineOpt}"></option>
			</select>
		</tr>
		<tr>
			<td><button type="submit"> Save processor</button>
		</tr>
	</table>
	</form>
</body>
</html>