<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	
	</head>
	
	<body>
		<p><a th:href="@{~/main/add/case}">Add case</a></p>
		<p><a th:href="@{~/main/add/cooler}">Add cooler</a></p>
		<p><a th:href="@{~/main/add/graphicsCard}">Add graphics card</a></p>
		<p><a th:href="@{~/main/add/keyboard}">Add keyboard</a></p>
		<p><a th:href="@{~/main/add/monitor}">Add monitor</a></p>
		<p><a th:href="@{~/main/add/motherboard}">Add motherboard</a></p>
		<p><a th:href="@{~/main/add/mouse}">Add mouse</a></p>
		<p><a th:href="@{~/main/add/powerSupply}">Add power supply</a></p>
		<p><a th:href="@{~/main/add/processor}">Add processor</a></p>
		<p><a th:href="@{~/main/add/ram}">Add RAM</a></p>
	</body>
</html>