<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal computers</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">MrRobot</div>
            

            <nav class="nav">
                <a class="nav_link" href="#">Home</a>
                <a class="nav_link" href="#">Products</a>
                <a class="nav_link" href="#">About us</a>
                <a class="nav_link" href="#">Contact</a>
            </nav>
        </div>
        </div>
    </header>
   
    <section class="section_3">
        <div class="container">
            <div class="section_header">
                <h2 class="section_title">All personal computers : </h2>
            </div>
    
            <div class="about">
                <div class="about_item">
                    <div class="about_img">
                        <img src = "assets/images/pc_list/pc11.jpg" alt="">
                    </div>
                    <div class="about_text_2">Magic Threadripper 3rd gen 3000 <b> 2600.99$</b></div>
                    <a class="about_text" href="#">buy</a>
                </div>
                <div class="about_item">
                    <div class="about_img">
                        <img src = "assets/images/pc_list/pc22.jpg" alt="">
                    </div>
                    <div class="about_text_2">Asus ROG Strix GA15 G15 <b> 3200.99$</b> </div>
                    <a class="about_text" href="#">buy</a>
                </div>
                <div class="about_item">
                    <div class="about_img">
                        <img src = "assets/images/pc_list/pc33.jpg" alt="">
                    </div>
                    <div class="about_text_2">ABS Master Gaming PC - Intel i7 11700F - GeForce RTX 3060 Ti <b> 4100.99$</b></div>
                    <a class="about_text" href="#">buy</a>
                </div>
            </div>

            <hr>


            <div class="about">
                <div class="about_item">
                    <div class="about_img">
                        <img src = "assets/images/pc_list/pc44.jpg" alt="">
                    </div>
                    <div class="about_text_2">XPS Tower Special Edition 8940 XPS Tower Special Edition 8940 <b> 2450.99$</b></div>
                    <a class="about_text" href="#">buy</a>
                </div>
                <div class="about_item">
                    <div class="about_img">
                        <img src = "assets/images/pc_list/pc55.jpg" alt="">
                    </div>
                    <div class="about_text_2"> HP Omen Gaming Desktop <b> 1500.99$</b></div>
                    <a class="about_text" href="#">buy</a>
                </div>
                <div class="about_item">
                    <div class="about_img">
                        <img src = "assets/images/trend/trend3.jpg" alt="">
                    </div>
                    <div class="about_text_2">Corsair Vengeance a7200 Series Gaming PC <b> 3350.99$</b></div>
                    <a class="about_text" href="#">buy</a>
                </div>
            </div>
    
        </div>
    </section>

    <div class="footer_dark">
    <footer>
        <div class="container">
            <p class="copyright"> <b>MrRobot</b> © 2022 All rights reserved</p>
        </div>
    </footer>
</div>


</body>
</html>